<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041111699569-fnci2ok1iq3lst61ucpom700hnabh9gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041111699569-fnci2ok1iq3lst61ucpom700hnabh9gf</string>
	<key>API_KEY</key>
	<string>AIzaSyApU3yZcFrYbV4_euaGtzuTzb_L730cfdA</string>
	<key>GCM_SENDER_ID</key>
	<string>1041111699569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magfalms.magfaapp</string>
	<key>PROJECT_ID</key>
	<string>magamooz-push</string>
	<key>STORAGE_BUCKET</key>
	<string>magamooz-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<false></false>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041111699569:ios:2fd13a73b7db83ec</string>
	<key>DATABASE_URL</key>
	<string>https://magamooz-push.firebaseio.com</string>
</dict>
</plist>